{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
        <div class="login-icon">
            <img src="http://www.bootcss.com/p/flat-ui/images/illustrations/calendar.png" alt="Welcome to Mail App">
        </div>
        <div class="login-form">
                <div class="control-group">
                  <input type="text" class="login-field" value="" placeholder="用户名" id="login-name">
                  <label class="login-field-icon fui-man-16" for="login-name"></label>
                </div>

                <div class="control-group">
                  <input type="password" class="login-field" value="" placeholder="密码" id="login-pass">
                  <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                </div>

                <a href="#" class="btn btn-large btn-block btn-primary">登录</a>
                <a class="login-link" href="#">忘记密码</a>
        </div>
{% endblock %}

{% block script %}
{% endblock %}



